<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat room</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/bootstrap/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/style.css}">
    <script th:src="@{/bootstrap/script1.js}"></script>
    <script th:src="@{/bootstrap/script2.js}"></script>
    <script th:src="@{/bootstrap/script3.js}"></script>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/sockjs.js}"></script>
    <script th:src="@{/js/stomp.js}"></script>
</head>
<body>
<form id="message-form">
    <input type="text" id="sender" placeholder="Sender name">
    <input type="text" id="content" placeholder="Type message ...">
    <button class="btn btn-danger" type="submit">Send</button>
</form>
<div id="show-message"></div>
<!-----------------------script----------------------->
<script th:src="@{/js/main.js}"></script>
</body>
</html>